

.button {
    padding: 0.5rem 1.2rem;
    line-height: 1.2;
    border: solid 1px lightgray;
    background-color: rgb(25, 113, 194);
    color: white;
    border: solid 1px transparent;
    border-radius: 3px;

    &:hover {
        background-color: rgb(24, 100, 171);
    }
}