.wrapper {
    position: relative;
}

.board {
    position: relative;
    display: grid;
    grid-template-columns: repeat(var(--columns, 20), 1fr);
    border: solid 5px rgb(0, 0, 0);
    aspect-ratio: 1/1;
    gap: 1px;
    background-color: darkgrey;

    & > * {
        aspect-ratio: 1 / 1;
    }
}


